.list__item {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  background-color: rgb(var(--c-primary));
  box-shadow: 5px 5px rgb(var(--c-dark));
  border: 3px solid rgb(var(--c-accent));
}

.list__item__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
