/*...........................*/
/*CUSTOM-PROPERTIES..........*/
/*...........................*/

:root {
  /* colors */
  --c-black: 13 13 13;
  --c-white: 216 217 215;
  --c-primary: 99 94 242;
  --c-dark: 89 95 217;
  --c-accent: 242 218 94;
}
.container {
  margin-inline: auto;
  max-width: 80ch;
}
